/* Headers and Titles */

h1 {
  font-family: 'Merriweather', serif;
}

/* Page Text */

/* Nav Header */
nav,
.Nav_logged-in {
  
}

/* Containers and Background */

/* Registration Form */

/* Login Form */

/* Search From */

/* Text Area */

/* App */

.App {
flex: 1;
flex-direction: column;
}

/* Error Message Text - Red */

.red {
color: red;
text-shadow: 2px 2px 2px black, 2px 3px 0px black;
}
